
.app-header {
    /* background-color: #fff; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
    padding: 22px 30px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    z-index: 5;
    display: flex;
    width: 100%;
  }
  .logo__wrap {
    width: 50%;
  }
  nav {
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  nav ul li {
    display: inline;
    margin-right: 5px;
    text-transform: capitalize;
}
.color__mode img {
    cursor: pointer;
}