@media screen and (max-width: 553px) {
    body {
        background: #fff;
    }
    .main--wrapper {
        margin-top: 0;
    }
}
@media screen and (max-width: 390px) {
    .heading--wrap p {
        width: 90%;
    }
}